div#mainDiv
{
text-align:center;
width: 100%;
}
div#textToEnter
{
width: 100%;
text-align: center;
}
#jsTime
{
padding: 5px;
}
#jsProgress
{
padding: 5px;
}
#jsAcc
{
padding: 5px;
}
#jsSpeed
{
padding: 5px;
}
.tb1
{
width: 500px;
height: 100px;
font-size: extra-small;
font-family: Courier;
overflow-x: scroll;
}
.txtZeleno
{
font-size: 16px;
font-weight: bold;
color: green;
font-family: Courier;
line-hight: 1.5em;
}
.txtRdece
{
font-size: 16px;
font-weight: bold;
color: black;
font-family: Courier;
line-hight: 1.5em;
}
.txtModro
{
font-size: 16px;
font-weight: bold;
font-family: Courier;
color: black;
background-color: #eee;
padding: 0px 2px 0px 2px;
border: 2px solid #2288ff;
line-hight: 1.5em;

}
.normal
{
display: table-cell;
width: 27px;
height: 27px;
border-right-style: white-space-collapse;
text-align: center;
vertical-align: middle;
font-size: small;
    padding: 6px 6px;
	margin: 0px 5px 0px 5x;
    background: #ccc;
    color: #000;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #666;
	font-weight: bold;
    text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}
.finger4
{
display: table-cell;
width: 27px;
height: 27px;
border-right-style: white-space-collapse;
text-align: center;
vertical-align: middle;
    padding: 6px 6px;
	margin: 0px 5px 0px 5x;
    background: #ffaaaa;
    color: #000;    
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #cc0000;
	font-weight: bold;
    text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}                   
.finger3            
{                   
display: table-cell;
width: 27px;        
height: 27px;       
border-right-style: white-space-collapse;
text-align: center; 
vertical-align: middle;
    padding: 6px 6px;
	margin: 0px 5px 0px 5x;
    background: #bbff99;
    color: #000;    
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #00aa00;
	font-weight: bold;
    text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.8);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}                   
.finger2            
{                   
display: table-cell;
width: 27px;        
height: 27px;       
border-right-style: white-space-collapse;
text-align: center; 
vertical-align: middle;
    padding: 6px 6px;
	margin: 0px 5px 0px 5x;
    background: #fdff99;
    color: #000;    
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #e89700;
	font-weight: bold;
    text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.8);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}                   
.finger1            
{                   
display: table-cell;
width: 27px;        
height: 27px;       
border-right-style: white-space-collapse;
text-align: center; 
vertical-align: middle;
    padding: 6px 6px;
	margin: 0px 5px 0px 5x;
    background: #99ddff;
    color: #000;    
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #0088bb;
	font-weight: bold;
    text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.8);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}                   
.fingerSpace        
{                   
display: table-cell;
width: 27px;        
height: 27px;       
border-right-style: white-space-collapse;
text-align: center; 
vertical-align: middle;
    padding: 6px 6px;
	margin: 0px 5px 0px 5x;
    background: #99ddff;
    color: #000;    
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #0088bb;
	font-weight: bold;
    text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.8);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}                   
.next1              
{                   
display: table-cell;
width: 27px;
height: 27px;
border-right-style: white-space-collapse;
text-align: center;
vertical-align: middle;
    padding: 6px 6px;
	margin: 0px 5px 0px 5x;
    background: #0070c1;
    color: #fff;    
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #004182;
	font-weight: bold;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}                   
.next2              
{                   
display: table-cell;
width: 27px;
height: 27px;
border-right-style: white-space-collapse;
text-align: center;
vertical-align: middle;
    padding: 6px 6px;
	margin: 0px 5px 0px 5x;
    background: #c17400;
    color: #fff;    
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #825700;
	font-weight: bold;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}                   
.next3              
{                   
display: table-cell;
width: 27px;
height: 27px;
border-right-style: white-space-collapse;
text-align: center;
vertical-align: middle;
    padding: 6px 6px;
	margin: 0px 5px 0px 5x;
    background: #2e8901;
    color: #fff;    
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #315e00;
	font-weight: bold;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}                   
.next4              
{                   
display: table-cell;
width: 27px;
height: 27px;
border-right-style: white-space-collapse;
text-align: center;
vertical-align: middle;
    padding: 6px 6px;
	margin: 0px 5px 0px 5x;
    background: #d90000;
    color: #fff;    
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #cc0000;
	font-weight: bold;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}                   
.nextSpace          
{                   
display: table-cell;
width: 27px;
height: 27px;
border-right-style: white-space-collapse;
text-align: center;
vertical-align: middle;
    padding: 6px 6px;
	margin: 0px 5px 0px 5x;
    background: #757500;
    color: #fff;    
    -webkit-border-radšius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #353500;
	font-weight: bold;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}                   
                    